*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../img/bg.png');
}

.container{
  margin-top: 10vh;
  width: 60%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center{
  background-image: url('../img/ed.png');
  background-position: center;
  background-size: contain;
  width: 101px;
  height: 180px;
  z-index: 3;
}

.planet-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .planet{
    background-position: center;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
  }
}

.orbit-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .planet-orbit{
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 0;
  }
}


.planet-1{

  .planet-orbit{
    width: 150px;
    height: 150px;
  }

  .planet{
    background-image: url('../img/planet-1.png');
    width: 25px;
    height: 25px;
    margin-left: 150px;
    animation: rotate-left 5s linear infinite forwards;
  }
}

.planet-box.planet-1{
  animation: rotate-right 10s linear infinite forwards;
  z-index: 1;
}

.planet-2{

  .planet-orbit{
    width: 210px;
    height:  210px;
  }

  .planet{
    background-image: url('../img/planet-2.png');
    margin-left: 210px;
    width: 40px;
    height: 23px;
    animation: rotate-right 6s linear infinite forwards;
  }
}

.planet-box.planet-2{
  animation: rotate-left 8s linear infinite forwards;
  z-index: 1;
}

.planet-3{

  .planet-orbit{
    width: 290px;
    height:  290px;
  }

  .planet{
    animation: rotate-left 10s linear infinite forwards;
    background-image: url('../img/planet-3.png');
    margin-left: 290px;
    width: 42px;
    height: 35px;
  }
}

.planet-box.planet-3{
  animation: rotate-right 20s linear infinite forwards;
  z-index: 1;
}

.planet-4{


  .planet{
    animation: rotate-left 10s linear infinite forwards;
    background-image: url('../img/planet-4.png');
    margin-right: 290px;
    width: 35px;
    height: 36px;
  }
}

.planet-box.planet-4{
  animation: rotate-right 20s linear infinite forwards;
  z-index: 1;
}


.planet-5{

  .planet-orbit{
    width: 380px;
    height:  380px;
  }

  .planet{
    animation: rotate-left 10s linear infinite forwards;
    background-image: url('../img/planet-6.png');
    margin-left: 380px;
    width: 55px;
    height: 38px;
  }
}

.planet-box.planet-5{
  animation: rotate-left 20s linear infinite forwards;
  z-index: 1;
}

.planet-6{

  .planet{
    animation: rotate-left 10s linear infinite forwards;
    background-image: url('../img/planet-5.png');
    margin-right: 380px;
    width: 45px;
    height: 46px;
  }
}

.planet-box.planet-6{
  animation: rotate-left 20s linear infinite forwards;
  z-index: 1;
}


.planet-7{
  .planet-orbit{
    width: 480px;
    height:  480px;
  }

  .planet{
    animation: rotate-right 10s linear infinite forwards;
    background-image: url('../img/planet-7.png');
    margin-right: 480px;
    width: 47px;
    height: 47px;
  }
}

.planet-box.planet-7{
  animation: rotate-right 25s linear infinite forwards;
  z-index: 1;
}

.planet-8{

  .planet{
    animation: rotate-right 10s linear infinite forwards;
    background-image: url('../img/planet-8.png');
    margin-left: 480px;
    width: 60px;
    height: 41px;
  }
}

.planet-box.planet-8{
  animation: rotate-right 25s linear infinite forwards;
  z-index: 1;
}

.planet-9{
  .planet-orbit{
    width: 590px;
    height:  590px;
  }

  .planet{
    animation: rotate-right 10s linear infinite forwards;
    background-image: url('../img/planet-9.png');
    margin-right: 590px;
    width: 60px;
    height: 59px;
  }
}

.planet-box.planet-9{
  animation: rotate-left 30s linear infinite forwards;
  z-index: 1;
}

.planet-10{

  .planet{
    animation: rotate-right 10s linear infinite forwards;
    background-image: url('../img/planet-10.png');
    margin-left: 590px;
    width: 60px;
    height: 61px;
  }
}

.planet-box.planet-10{
  animation: rotate-left 30s linear infinite forwards;
  z-index: 1;
}



@keyframes rotate-right {
  from{
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}

@keyframes rotate-left {
  from{
  transform: rotate(0deg);
  }
  to {
  transform: rotate(-360deg);
  }
}
